li {
    display: inline;
    position: relative;
    float: right;
    text-align: center;
    margin: 0 10px;
}
img{
    width: 2%;
    position: static;
    float: left;
    margin: 0 0 0 5.7%
}




